
/* LARGEUR DE LA GRILLE */ 
$grid-width: 100%;
$site-width: 85%;
 
/* ESPACE GRILLE */  
$goutiere: 20px;

/* COULEURS */
$couleur: $rouge;

/* POLICES */
$sansserif: 'Lato';
$serif: 'Playfair Display';

/* TAILLES ECRANS */
$x-small: 400px;
$small: 768px;
$medium: 1024px;
$large: 1200px;
$x-large: 1500px;
  